<div class="app-container">
  <!-- Header Section -->
  <header class="app-header">
    <h1 class="app-title">{{ title }}</h1>
    <nav class="app-nav">
      <ul>
        <li>
          <a routerLink="/consultations" routerLinkActive="active"
            >Consultations</a
          >
        </li>
        <li><a routerLink="/pets" routerLinkActive="active">Pets</a></li>
        <li>
          <a routerLink="/book" routerLinkActive="active-link"
            >Book Consultation</a
          >
        </li>
      </ul>
    </nav>
  </header>

  <!-- Main Content Section -->
  <main class="app-main">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer Section -->
  <footer class="app-footer">
    <p>&copy; 2025 PetClinic | All Rights Reserved</p>
  </footer>
</div>
